<a href="https://colab.research.google.com/github/Vishu6744/RL/blob/main/Experiment_1_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
xs=[1,2,3]
print(xs)

[1, 2, 3]

In [9]:
nums=list(range(5))

print(nums)
print(nums[2:4])
print(nums[2:])
print(nums[:2])
print(nums[:])
print(nums[:-1])
nums[1:3]=[8,9,0]
print(nums)

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[0, 8, 9, 0, 3, 4]

In [11]:
animals=['cat', 'dog', 'monkey']
for animal in animals:
  print(animals)

['cat', 'dog', 'monkey']
['cat', 'dog', 'monkey']
['cat', 'dog', 'monkey']

In [13]:
animals=['cat', 'dog', 'monkey']
for idx, animals in enumerate(animals):
  print('#{}: {}'. format(idx + 1, animals))

#1: cat
#2: dog
#3: monkey