<a href="https://colab.research.google.com/github/Vishu6744/RL/blob/main/RL_Vishu_Practical1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!python --version

Python 3.10.12

In [2]:
def quicksort(arr):
  if len(arr )<=1:
    return arr
  pivot =arr[len(arr)// 2]
  left=[x for x in arr if x<pivot]
  middle=[x for x in arr if x==pivot]
  right=[x for x in arr if x>pivot]
  return quicksort(left)+middle+quicksort(right)

print(quicksort([2,5,1,64,23,76,1]))

[1, 1, 2, 5, 23, 64, 76]

In [3]:
x=3
print(x,type(x))

3 <class 'int'>

In [4]:
print(x+1)
print(x-1)
print(x*2)
print(x**2)

4
2
6
9

In [5]:
x+=1
print(x)
x*=2
print(x)

4
8

In [6]:
y=2.5
print(type(y))
print(y,y+1,y*2,y**2)

<class 'float'>
2.5 3.5 5.0 6.25

In [7]:
t,f=True, False
print(type(t))

<class 'bool'>

In [8]:
print(t and f)
print(t or f)
print(not t )
print(t != f)

False
True
False
True

In [9]:
hello='hello'
world="world"
print(hello, len(hello))

hello 5

In [10]:
f1='Abhay'    #string concatenating
m1='Singh'
l1='Bisht'
hw = f1+' '+m1+' '+l1
print(hw)

Abhay Singh Bisht

In [11]:
hw12='{} {} {} {}'.format(f1, m1, l1, 12) #string formatting
print(hw12)

Abhay Singh Bisht 12

In [12]:
print(len(hw12))

20

In [13]:
s="aryan"
print(s.capitalize())  #capitalize a string
print(s.upper())      #convert a string to uppercase; print"HELLO"
print(s.rjust(7))   #Right-justify a string , padding with spaces
print(s.center(7))#centre a strig, padding with spaces
print(s.replace('a','(yan)'))#replace all instances of one substring with another
print('   abhay '.strip()) #strip leading and trailing whitespace

Aryan
ARYAN
  aryan
 aryan
(yan)ry(yan)n
abhay

In [14]:
s="machine learning"
print(s.capitalize())  #capitalize a string
print(s.upper())      #convert a string to uppercase; print"HELLO"
print(s.rjust(27))   #Right-justify a string , padding with spaces
print(s.center(27))#centre a strig, padding with spaces
print(s.replace('a','(yan)'))#replace all instances of one substring with another
print('   abhay '.strip()) #strip leading and trailing whitespace

Machine learning
MACHINE LEARNING
           machine learning
      machine learning
m(yan)chine le(yan)rning
abhay

# LIST

In [15]:
xs=[3,1,2]
print(xs, xs[2])
print(xs[-1])  #negative indices count from the end of the list

[3, 1, 2] 2
2

In [16]:
xs[2]='foo'   #list can contain elements of different types
print(xs)

[3, 1, 'foo']

In [17]:
xs.append(5) #add a new element to the end of the list
print(xs)

[3, 1, 'foo', 5]

In [18]:
x=xs.pop()   #remove and return the last element of the list
print(x,xs)

5 [3, 1, 'foo']

In [19]:
nums= list(range(5))
print(nums)
print(nums[2:4])
print(nums[2:])
print(nums[:2])
print(nums[:])
print(nums[:-1])
nums[2:4]=[8,9,3]
print(nums)

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[0, 1, 8, 9, 3, 4]

# LOOP

In [20]:
animals=['cat','dog','monkey']
for a in animals:
  print(a)

cat
dog
monkey

In [21]:
animals=['cat','dog','monkey']
for idx, animal in enumerate(animals):
  print('#{}: {}'.format(idx+1, animal))

#1: cat
#2: dog
#3: monkey

LIST COMPREHENSIONS: